.profile {
    position: relative;
    top: 55px;
    left: 550px;
    background-color: hsla(0, 0%, 12%, 0.800);

}


h6 {

    color: hsl(75, 94%, 57%);
    font-size: 14px;
}

button {
    background-color: hsla(0, 0%, 20%, 0.700);
    border: 0;
    color: white;
    /* font-family: [Inter](https://fonts.google.com/specimen/Inter )  */


}

p {
    font-size: 14px;
}

body {
    background-color: hsla(0, 0%, 8%);
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
    font-weight: bold;
}